[Desktop Entry]
Name=Cosmic money
Exec=cosmic_money %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.francescogaglione.cosmicmoney
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
